<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="/build/ui-library.esm.js"></script>
    <script nomodule src="/build/ui-library.js"></script>
    <link rel="stylesheet" href="/build/ui-library.css" />
    <title>six-dropdown</title>
  </head>
  <body>
    <div class="container">
      <div style="margin: 20px; display: block">
        <section style="position: absolute; top: 0; left: 0">
          <six-dropdown filter filter-placeholder="Search">
            <six-button slot="trigger" caret>Dropdown</six-button>
            <six-menu>
              <six-menu-item value="AUSTRALIA">Australia Football alsdfkja lkadsjf laskjdf</six-menu-item>
              <six-menu-item value="BRAZIL">Brazil laskdf alsdd jf</six-menu-item>
              <six-menu-item value="CHINA">China</six-menu-item>
              <six-menu-item value="EGYPT">Egypt</six-menu-item>
              <six-menu-item value="FRANCE">France</six-menu-item>
              <six-menu-item value="GERMANY">Germany</six-menu-item>
              <six-menu-item value="INDIA">India</six-menu-item>
              <six-menu-item value="JAPAN">Japan</six-menu-item>
              <six-menu-item value="SPAIN">Spain</six-menu-item>
              <six-menu-item value="UNITED_STATES">United States</six-menu-item>
            </six-menu>
          </six-dropdown>
        </section>
        <section style="position: absolute; bottom: 0; left: 0">
          <six-dropdown filter filter-placeholder="Search">
            <six-button slot="trigger" caret>Dropdown</six-button>
            <six-menu>
              <six-menu-item value="AUSTRALIA">Australia Football alsdfkja lkadsjf laskjdf</six-menu-item>
              <six-menu-item value="BRAZIL">Brazil laskdf alsdd jf</six-menu-item>
              <six-menu-item value="CHINA">China</six-menu-item>
              <six-menu-item value="EGYPT">Egypt</six-menu-item>
              <six-menu-item value="FRANCE">France</six-menu-item>
              <six-menu-item value="GERMANY">Germany</six-menu-item>
              <six-menu-item value="INDIA">India</six-menu-item>
              <six-menu-item value="JAPAN">Japan</six-menu-item>
              <six-menu-item value="SPAIN">Spain</six-menu-item>
              <six-menu-item value="UNITED_STATES">United States</six-menu-item>
            </six-menu>
          </six-dropdown>
        </section>
        <section style="position: absolute; bottom: 0; right: 0">
          <six-dropdown filter filter-placeholder="Search">
            <six-button slot="trigger" caret>Dropdown</six-button>
            <six-menu>
              <six-menu-item value="AUSTRALIA">Australia Football alsdfkja lkadsjf laskjdf</six-menu-item>
              <six-menu-item value="BRAZIL">Brazil laskdf alsdd jf</six-menu-item>
              <six-menu-item value="CHINA">China</six-menu-item>
              <six-menu-item value="EGYPT">Egypt</six-menu-item>
              <six-menu-item value="FRANCE">France</six-menu-item>
              <six-menu-item value="GERMANY">Germany</six-menu-item>
              <six-menu-item value="INDIA">India</six-menu-item>
              <six-menu-item value="JAPAN">Japan</six-menu-item>
              <six-menu-item value="SPAIN">Spain</six-menu-item>
              <six-menu-item value="UNITED_STATES">United States</six-menu-item>
            </six-menu>
          </six-dropdown>
        </section>
        <section style="position: absolute; top: 0; right: 0">
          <six-dropdown filter filter-placeholder="Search">
            <six-button slot="trigger" caret>Dropdown</six-button>
            <six-menu>
              <six-menu-item value="AUSTRALIA">Australia Football alsdfkja lkadsjf laskjdf</six-menu-item>
              <six-menu-item value="BRAZIL">Brazil laskdf alsdd jf</six-menu-item>
              <six-menu-item value="CHINA">China</six-menu-item>
              <six-menu-item value="EGYPT">Egypt</six-menu-item>
              <six-menu-item value="FRANCE">France</six-menu-item>
              <six-menu-item value="GERMANY">Germany</six-menu-item>
              <six-menu-item value="INDIA">India</six-menu-item>
              <six-menu-item value="JAPAN">Japan</six-menu-item>
              <six-menu-item value="SPAIN">Spain</six-menu-item>
              <six-menu-item value="UNITED_STATES">United States</six-menu-item>
            </six-menu>
          </six-dropdown>
        </section>
      </div>
    </div>
  </body>
</html>
