@import 'src/global/component';
@import 'src/global/mixins/scrollbar';

:host {
  display: inline-block;
}

.dropdown {
  position: relative;
}

.dropdown__trigger {
  display: block;
}

.dropdown__positioner {
  position: absolute;
  z-index: var(--six-z-index-dropdown);
}

.dropdown__panel {
  border: 1px solid var(--six-color-web-rock-300);
  transition: var(--six-transition-fast) opacity, var(--six-transition-fast) transform;
  transform: scale(0.9);
  pointer-events: none;
  opacity: 0;
  box-shadow: var(--six-elevation-4dp);
  border-radius: var(--six-border-radius-medium);
  background-color: var(--six-panel-background-color);
  color: var(--color);
  font-family: var(--six-font-sans);
  font-size: var(--six-font-size-small);
  font-weight: var(--six-font-weight-normal);
}

.panel__items {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;

  // fix for firefox scrollbar
  scrollbar-width: thin;
}

.filter {
  padding: var(--six-spacing-small);
  border-bottom: 1px solid var(--six-color-web-rock-400);

  &--hidden {
    visibility: hidden;
  }
  &__icon {
    color: var(--six-color-web-rock-600);
  }
}

.dropdown__positioner {
  &[data-popper-placement^='top'] .dropdown__panel {
    transform-origin: bottom;
  }

  &[data-popper-placement^='bottom'] .dropdown__panel {
    transform-origin: top;
  }

  &[data-popper-placement^='left'] .dropdown__panel {
    transform-origin: right;
  }

  &[data-popper-placement^='right'] .dropdown__panel {
    transform-origin: left;
  }

  &.popover-visible .dropdown__panel {
    opacity: 1;
    transform: none;
    pointer-events: all;
  }
}
